
.login-container{
    width: 300;
    height: 300;
    border: 1px solid gray;
}
.input{
    border-radius: 10px;
    border: none;
    width: 300px;
    padding: 12px;
    background-color: white;
    text-align: center;
    outline: none;
}

.btn-submit{
    padding: 10px;
    width: 150px;
    height: auto;
    font-size: 16px;
    border-radius: 10px;
    border:none;
    background-color: green;
    cursor: pointer;
   border-left: none;
}