.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login2{
    border: 1px solid black;
    width: 350px;
    height: 200px;
}

.select-pay{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 18px;
    font-family: 300;
}

.radio-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.button{
    padding: 10px;
    background-color: green;
    width: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text-continue{
    font-size: 18px;
    color: white;
    text-decoration: none;
    
}

.form-check-label{
    padding-left: 15px;
}