.head-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.links{
    display: flex;
    justify-content: space-around;
}

.search-input{
    border: 1px solid gray;
    width: 300px;
    padding: 10px;
    background-color: white;
    text-align: center;
    outline: none;
}
.buttons{
    display: flex;
    justify-content: end;
    align-items: center;
}
.btn-groups{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.search-button{
        padding: 10px;
        width: 150px;
        font-size: 16px;
        border:none;
        background-color: black;
        color: white;
        cursor: pointer;
       border-left: none;
}
.dropdown-menu{
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid lightgray;
}
.dropdown-item{
   text-decoration: none;
   color: black;
   font-size: 16px;
  
}
.cart-mobile-icon{
    padding-left: 10px;
}
.cart-mobile-icon .badge{
    /* border: 1px solid lightgray;
    width: 20px;
    height: 20px;
    border-radius: 50%; */
    color: red;
    font-size: 18px;
}