.contacts{
display: flex;
width: 100vw;
flex-direction: row;
justify-content: space-around;
gap: 10px;
}
.contact-Box{
border: 2px solid black;
justify-content: space-around;
width: 200px;
height: 200px;


}
.box-info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}