*{
    box-sizing: border-box;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    background-color: lightgrey
}
.card-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}